<main>
  <%= render partial: 'shared/navigation' %>
  <h2 class='login_ribbon'>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class='login_container'>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "field" %>

      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "field" %>
      
      <div>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot' %><br />
      </div>

      <%= f.submit "Log in", class: 'login_button' %>

      
    </div>
    
  <% end %>


</main>

